.sale {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
    height: 100%;
}

.products-container {
    flex: 1;
    margin-right: 20px;
    min-width: 50%;
    box-sizing: border-box;
  }

h3{
    color: white;
    margin-bottom: 20px;
}

.product mat-grid-list{
    margin: 50px;
}

mat-grid-tile {
    background: rgb(36, 0, 30);
    color: white;
    border: 5px solid black;
}

.noItem, .title{
    background-color: black;
}
  
.cart {
    width: 300px;
    background-color: #330027;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    box-sizing: border-box;
}

mat-list{
    width: 100%;
}

.bodyCart{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.bodycart button{
    display: flex;
    justify-content: flex-end;
}

mat-form-field{
    color: rgb(177, 177, 177);
}

mat-option{
    color: white;
    border: 1px solid white;
    border-radius: 100px;
}

mat-list-item{
    color: white;
}

.totalprice{
    color: white;
    display: flex;
    bottom: 0;
    margin-bottom: 15px;
}

.buttons{
    padding-top: 20px;
}