<div class="sale">
    <!-- Seção de produtos -->
    <div class="products-container">
      <div class="product">
        <mat-grid-list cols="4" rowHeight="4:1">
          <div *ngIf="products$ | async as categories; else loading">
            <div *ngFor="let category of categories">
  
              <mat-grid-tile [colspan]="4" [rowspan]="1" class="title">
                <h3>{{ category.category }}</h3>
              </mat-grid-tile>
  
              <div *ngFor="let chunk of chunkArray(category.products, 4)">
                <mat-grid-tile *ngFor="let product of chunk">
                  <div>
                    {{ product.name }} <br><br>
                    Preço: {{ product.price }}
                    <button mat-mini-fab aria-label="Adicionar Produto" (click)="onAdd(product)">
                      <mat-icon>add</mat-icon>
                    </button>
                  </div>
                </mat-grid-tile>
  
                <!-- Adiciona tiles vazios caso não tenha 4 itens na última linha -->
                <mat-grid-tile *ngIf="chunk.length < 4" colspan="{{ 4 - chunk.length }}" class="noItem">
                </mat-grid-tile>
              </div>
            </div>
          </div>
        </mat-grid-list>
      </div>
    </div>
  
    <div class="cart">
      <form [formGroup]="form">
        <mat-form-field>
          <mat-label>Mesa</mat-label>
          <mat-select matNativeControl required formControlName="tableNum" #tableNum>
            <mat-option *ngFor="let table of [1, 2, 3, 4, 5, 6, 7]" [value]="table">{{ table }}</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      

      <mat-list *ngFor="let productCart of productAux">
        <mat-list-item>{{ productCart.name }}</mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>

      <div style="text-align: right; font-weight: bold; font-size: 18px;" class="totalprice">
        Total: {{ total_Price | currency:'BRL' }}
      </div>
      <div class="buttons">
        <button mat-mini-fab aria-label="Cancel" (click)="onCancel()">
          <mat-icon>delete_forever</mat-icon>
        </button>
        <button mat-mini-fab aria-label="Save" (click)="saveSale()">
          <mat-icon>sync_saved_locally</mat-icon>
        </button>
      </div>
    </div>
</div>

<ng-template #loading>
    <p>Carregando produtos...</p>
</ng-template>