<div class="sale">
    <!-- Seção de produtos -->
    <div class="products-container">
      <div class="product">
        <mat-grid-list cols="4" rowHeight="4:1">
          <div *ngIf="products$ | async as categories; else loading">
            <div *ngFor="let category of categories">
  
              <mat-grid-tile [colspan]="4" [rowspan]="1" class="title">
                <h3>{{ category.category }}</h3>
              </mat-grid-tile>
  
              <div *ngFor="let chunk of chunkArray(category.products, 4)">
                <mat-grid-tile *ngFor="let product of chunk">
                  <div>
                    {{ product.name }} <br><br>
                    Preço: {{ product.price }}
                    <button mat-mini-fab aria-label="Adicionar Produto" (click)="onAdd()">
                      <mat-icon>add</mat-icon>
                    </button>
                  </div>
                </mat-grid-tile>
  
                <!-- Adiciona tiles vazios caso não tenha 4 itens na última linha -->
                <mat-grid-tile *ngIf="chunk.length < 4" colspan="{{ 4 - chunk.length }}" class="noItem">
                </mat-grid-tile>
              </div>
            </div>
          </div>
        </mat-grid-list>
      </div>
    </div>
  
    <div class="cart">
      <h3>Carrinho</h3>
      <p>aaaaaaaaa</p>
    </div>
</div>

<ng-template #loading>
    <p>Carregando produtos...</p>
</ng-template>