.sale {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.products-container {
    flex: 1;
    margin-right: 20px;
  }

h3{
    color: white;
    margin-bottom: 20px;
}

.product mat-grid-list{
    margin: 50px;
}

mat-grid-tile {
    background: rgb(36, 0, 30);
    color: white;
    border: 5px solid black;
}

.noItem, .title{
    background-color: black;
}
  
.cart {
    width: 300px;
    background-color: #330027;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
  