<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<header>
    <div class="container">
        <a href="/" routerLink="/" class="logo"><img src="/logo.jpg" alt="Sorveteria Yuki's"></a>
        <a href="/product" routerLink="/product" class="product">Product</a>
        <a href="#" routerLink="/product" class="product">Ingredient</a>
        <a href="#" routerLink="/product" class="product">Stock</a>
        <a href="#" routerLink="/product" class="product">Order</a>
        <nav>
            <ul>
                <li>
                    <a href="#" routerLink="/cart-page"><mat-icon>shopping_cart</mat-icon></a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<!--
    <mat-icon svgIcon="product" aria-hidden="false" aria-label="Product">Product</mat-icon>
    <mat-icon svgIcon="ingredient" aria-hidden="false" aria-label="Ingredient">Ingredient</mat-icon>
    <mat-icon svgIcon="stock" aria-hidden="false" aria-label="Stock">Stock</mat-icon>
    <mat-icon svgIcon="order" aria-hidden="false" aria-label="Order">Order</mat-icon>
-->