mat-table{
    overflow: auto;
    max-height: 600px;
}

.action-column{
    flex: 0 0 115px;
    justify-content: center;
}

mat-header-cell{
    color: white;
    font-weight: bold;
    font-size: 17px;
}

mat-cell{
    color: white;
}

.mat-mdc-form-field {
    font-size: 14px;
    color: white;
}