<mat-table [dataSource]="filteredSales">
    <!-- Table Column -->
    <ng-container matColumnDef="table">
        <mat-header-cell *matHeaderCellDef> Mesa </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.tableNum}} </mat-cell>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="totalprice">
        <mat-header-cell *matHeaderCellDef> Preço Total </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.totalprice}} 
            <mat-icon aria-hidden="false" aria-label="Preço Total">{{ element.price }}</mat-icon> 
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef> Data </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.date}} 
            <mat-icon aria-hidden="false" aria-label="Data da Venda">{{ element.date }}</mat-icon> 
        </mat-cell>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef class="action-column">
            <button mat-mini-fab aria-label="Nova Venda" (click)="onAdd()">
                <mat-icon>add</mat-icon>
            </button>
        </mat-header-cell>
        <mat-cell *matCellDef="let sale" class="action-column">
            <button mat-icon-button aria-label="Editar Venda" style="color: aqua" (click)="onEdit(sale)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button aria-label="Deletar Venda" style="color: red" (click)="onDelete(sale)">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="category"></ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>